<div class="jumbotron text-center">
  <div class="container">
    <h1>Story Listings</h1>
    <p>Story Managment for BeeApps Inc.</p>
    <a href=""  class="btn btn-primary">Our Apps</a>
  </div>
</div>
<div class="row">
  
    <div class="col-md-4">
        <p><img src="https://firebasestorage.googleapis.com/v0/b/storiesmanagment-26a90.appspot.com/o/public%2Fperralla.png?alt=media&token=8cf46183-08d4-4f13-9e03-77d391f6206d" class="img-responsive" alt="Responsive image"/></p>

    </div>
      <div class="col-md-4">
       <p><img src="https://firebasestorage.googleapis.com/v0/b/storiesmanagment-26a90.appspot.com/o/public%2Foverjump.jpg?alt=media&token=1ab357fa-4a7d-46b1-9d7d-3ce81f382c7f" class="img-responsive" alt="Responsive image"/></p>
    </div>
    <div class="col-md-4">
        <p><img src="https://firebasestorage.googleapis.com/v0/b/storiesmanagment-26a90.appspot.com/o/public%2Ftingujt.png?alt=media&token=2828f383-6b10-47fe-abf6-e9b569737491" class="img-responsive" alt="Responsive image"/></p>
    </div>