<!--<ul class="list-group">
  <li class="list-group-item" *ngFor="let listing of listings">
    
  </li>
</ul>-->

<div class="container"> 
<div *ngFor="let listing of listings">
  <div class="row top-buffer col-md-12" >
    <p class="col-md-9">{{listing.title}}</p>
    <a class="col-md-1 btn btn-default" [routerLink]="['/listing-scenes/'+listing.$key]">Details</a>
    <a class="col-md-1 btn btn-success" [routerLink]="['/add-scenes/'+listing.$key]">Add Scene</a>
    <a (click)="onDeleteClick(listing.$key)" class="col-md-1 btn btn-danger">Delete</a>
  </div>
<br />  <br /><br />
</div>
</div>